header {
  background-color: var(--azul-claro);
  justify-content: space-between;
  padding: 20px 40px;
  display: flex;
}

.img-head{
  display: flex;
  gap: 10px;
  align-items: center;
}

.linkedin-icon {
  color: var(--gris);  
  height: 40px;
}

.download-icon {
  height: 15px;
  align-items: center; 
}
.download-link{
  color: white;
  text-decoration: none;
  background-color: var(--gris);
  padding: 10px 5px;
  margin: 0 auto;
  border-radius: 10px;
}
main {
  height: 80vh;
  align-items: center;
  background: linear-gradient(225deg, var(--azul-1) 20%, var(--azul-2) 90%, var(--azul-3) 100%);
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  color: white;
}

.htmain {
  text-align: center;
  display: grid;
  justify-content: center;
  gap: 8px;
}

.htmain h1{
  font-size: 50px;
}

.htmain h2{
  font-size: 20px;
}

.htmain h3{
  font-size: 17px;
}
  
.htws{
  color: white;
  gap: 10px;
  height: 40px;
  display: flex;
  text-align: center;
  align-items: center;
  text-decoration: none;
  background-color: var(--verde);
  padding: 5px 15px;
  border-radius: 25px;
}




.hws-icon{
  height: 30px;
  /* height: 30px; */
}

.hfm {
  height: 300px;
  /* grid-column: 2/3;
  grid-row: 2/3;
  object-fit: cover;
  width: 200px;
  justify-self: center;
  justify-content: center;
  border-radius: 50%; */
}

.Footer {
  outline: 2px solid black;
  position: relative;
  display: inline-flex;
  text-align: center;
  align-items: center;
  justify-self: center;
  margin-left: 45px;
}
.img {
  display: grid;
}
.text {
  display: grid;
}
