header {
  background-color: var(--azul-claro);
  justify-content: space-between;
  padding: 20px 40px;
  display: flex;
}

.img-head{
  display: flex;
  gap: 10px;
  align-items: center;
}

.linkedin-icon {
  color: var(--gris);  
  height: 40px;
}

.download-icon {
  height: 15px;
  align-items: center;
}
.download-link{
  display: flex;
  color: white;
  text-decoration: none;
  background-color: var(--gris);
  padding: 10px 10px;
  margin: 0 auto;
  border-radius: 10px;
}
main {
  height: 80vh;
  align-items: center;
  background: linear-gradient(225deg, var(--azul-1) 20%, var(--azul-2) 90%, var(--azul-3) 100%);
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  color: white;
}

.htmain {
  text-align: center;
  display: grid;
  justify-content: center;
  gap: 8px;
}

.htmain h1{
  font-size: 50px;
}

.htmain h2{
  margin-top: 12%;
  font-size: 18px;
}

.htmain h3{
  font-size: 16px;
}
  
.htws{
  color: white;
  gap: 10px;
  height: 40px;
  display: flex;
  text-align: center;
  align-items: center;
  text-decoration: none;
  background-color: var(--verde);
  padding: 5px 15px;
  border-radius: 25px;
}


.hws-icon{
  height: 30px;
  /* height: 30px; */
}


.hfm {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  object-fit: cover;
  height: 200px;
  width: 400px;
  width: auto;
  border-radius: 80%;
}


.hmain figcaption{
  margin-bottom: 100px;
  word-spacing: 15px;
  font-size: 16px;
  text-align: left;
  
}

.hmain{
  justify-content: center;
  align-items: center;
   margin: 0 auto;
}

.curvamain{
  margin: 0 auto;
  margin-top: -200px;
  height: 100dvh; 
  width: 99dvw; 
  position: absolute;
  top: 445px;
}

.Allskills{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  max-width: 50%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.Skill{
  background-color: white;
  border: 1px solid black;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 6px #ebdfdfe0;
}

.Skill a,svg{
  display: flex;
  align-items: center;
  gap: 20px;
}

.Skill a{
  text-align: center;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.Skill svg{
  background-color: blue;
  height: 10dvh;
  width: 10dvw;
  border-radius: 80%;
  padding: 8px 5px;

  
}



























.Footer {
  outline: 2px solid black;
  margin: 0 auto;
  display: inline-flex;
  text-align: center;
  align-items: center;
  margin-left: 45px;
}
.img {
  display: grid;
}
.text {
  display: grid;
}
